@import '../variables.scss';
.banner {
  height: 100vh;
  position: relative;

  .banner-addition-bg {
    background: $white;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
  }
  .banner-bg {
    background: $lblue;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
  }
  .banner-inner {
    width: 100%;
    height: 80vh;
    display: flex;
    position: relative;
    @media (max-width: $widescreen) {
      height: 90vh;
    }
    .content {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      .content-inner {
        margin-top: 150px;
        padding-left: 64px;
        @media (max-width: $widescreen) {
          margin-top: 15px;
        }
        h1 {
          font-family: 'Playfair Display';
          color: $blue;
          font-size: 3.4rem;
          line-height: 4.5rem;
          margin: 32px 0 0;
          width: 620px;
          @media (max-width: $widescreen) {
            font-size: 3.1rem;
            line-height: 3.6rem;
          }
          .h-line {
            overflow: hidden;
            height: 70px;
            position: relative;
            span {
              position: absolute;
            }
          }
        }
        p {
          font-size: 1.1rem;
          line-height: 1.8rem;
          font-weight: 300;
          color: $white;
          width: 520px;
          margin: 32px 0 80px;
          @media (max-width: $widescreen) {
            margin: 16px 0 60px;
          }
        }
        a {
          display: inline-block;
          height: 56px;
          line-height: 56px;
          font-size: 1rem;
        }
      }
    }
  }
}

.image-container {
  position: relative;
  width: 50%;
  height: 100%;
}

.slider {
  position: relative;
  height: 100%;
  width: 100%;
}
.slider-item {
  top: 20%;
  left: 20%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 65%;
  opacity: 0.7;
  img {
    height: 450px;
  }
  .slider-caption {
    text-align: center;
    padding-top: 15px;
    color: $blue;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
  }
  .arrow {
    text-decoration: none;
    text-align: center;
    line-height: 0.2em;
    color: $accent;
  }
}
.slider-item-sm {
  img {
    width: 240px;
  }
}
.active {
  opacity: 1;
}

.prev-button img {
  position: absolute;
  top: 45%;
  left: 50px;
  width: 40px;
  height: 40px;
  opacity: 0.2;
}

.next-button img {
  position: absolute;
  top: 45%;
  right: 50px;
  width: 40px;
  height: 40px;
  opacity: 0.2;
}
